@model IEnumerable<WebDungCuLamBanh.Models.DonHangVanChuyenModel>

@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Tất cả đơn hàng</h1>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Đơn hàng chưa giao
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangChuaGiao đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Đơn hàng đang giao
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangDangGiao đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Đơn hàng đã giao
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangDaGiao đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Đơn hàng bị huỷ
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangDaHuy đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="overflow-x: auto;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Mã ĐH
                </th>
                <th>
                    PTTT
                </th>
                <th>
                    Địa chỉ
                </th>
                    
                <th>
                    Thông tin liên hệ
                </th>
                <th style="width:200px;">
                    Tình Trạng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a id="MaHD" href="/Administrator/OrderDetail/@item.Id_DonHang">
                            @if(item.Id_DonHang.Length > 15)
                            {
                                @item.Id_DonHang.Substring(27);
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Id_DonHang)
                            }
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhuongThucThanhToan.TenPTTT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChiVanChuyen)
                    </td>
                    <td>
                        <ul>
                            <li>@Html.DisplayFor(modelItem => item.TenKhachHang)</li>
                            <li>@Html.DisplayFor(modelItem => item.Email)</li>
                            <li>@Html.DisplayFor(modelItem => item.SoDienThoai)</li>
                        </ul>
                    </td>
                    <td>
                        <select id="TinhTrang_@item.Id_DHVC" onchange="changeState('@item.Id_DHVC','@item.DonHang.Id_KhachHang','@item.Id_DonHang')" asp-for="@item.TinhTrang" asp-items="ViewBag.TrangThaiVanChuyen" class="form-select form-select-sm me-3 transparent-input" aria-label=".form-select-sm">
                        </select>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                        <script type="module">
                            import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js'
                            import { getDatabase, ref,push, set } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-database.js";

                            const firebaseConfig = {
                                databaseURL: "https://qldclb-770f5-default-rtdb.asia-southeast1.firebasedatabase.app/",
                            };

                            const app = initializeApp(firebaseConfig);
                            const database = getDatabase(app);

                            // Định nghĩa hàm và gán nó vào phạm vi global
                            window.writeUserData = function (userId, message, link) {
                                var time = new Date().getTime();
                                push(ref(database, 'notification'), {
                                    uid: userId,
                                    message: message,
                                    link: link,
                                    time: time
                                })
                                    .then(() => {
                                        console.log("Dữ liệu đã được lưu thành công!");
                                    })
                                    .catch((error) => {
                                        console.error("Lỗi khi lưu dữ liệu: ", error);
                                    });
                            }
                        </script>
                        <script type="text/javascript">
                            function changeState(dhvc,uid,dh) {
                                var selectElement = document.getElementById("TinhTrang_" + dhvc);
                                if (selectElement) {
                                    var value = selectElement.value;
                                    console.log("DHVC: " + dhvc);
                                    console.log("Giá trị: " + value);
                                    console.log("Đơn hàng: " + dh);
                                    console.log("Khách hàng" + uid);
                                    var tinhTrang = "";
                                    if(value==0)
                                    {
                                        tinhTrang = "đang chuẩn bị hàng.";

                                    }
                                    else if(value==1)
                                    {
                                        tinhTrang = "đang được giao.";
                                    }
                                    else if(value==2)
                                    {
                                        tinhTrang = "đã được giao thành công.";
                                    }
                                    else if(value==3)
                                    {
                                        tinhTrang = "đã bị hủy.";
                                    }
                                    $.ajax({
                                        url: '/Administrator/ChangeStatus',
                                        type: "POST",
                                        data: {
                                            dhvc: dhvc,
                                            value: value
                                        },
                                        success: function (result) {
                                            if (result.success) {
                                                writeUserData(uid, 'Đơn hàng '+dh+' '+tinhTrang, '/Account/OrderDetail/'+dh);
                                                alert('Thành công');
                                            } else {
                                                alert(result.error);
                                            }
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error("AJAX error:", textStatus, errorThrown);
                                        }
                                    });
                                } else {
                                    console.error("Cannot find the select element with the given ID: TinhTrang_" + dhvc);
                                }
                            }
                        </script>         
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


