@model IEnumerable<WebDungCuLamBanh.Models.DonHangVanChuyenModel>

@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Đơn hàng đã giao</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã ĐH
                </th>
                <th>
                    PTTT
                </th>
                <th>
                    Địa chỉ
                </th>

                <th>
                    Thông tin liên hệ
                </th>
                <th style="width:200px;">
                    Tình Trạng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/Administrator/OrderDetail/@item.Id_DonHang">
                            @if (item.Id_DonHang.Length > 15)
                            {
                                @item.Id_DonHang.Substring(27)
                                ;
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Id_DonHang)
                            }


                    <td>
                                @Html.DisplayFor(modelItem => item.PhuongThucThanhToan.TenPTTT)
                    </td>
                    <td>
                                @Html.DisplayFor(modelItem => item.DiaChiVanChuyen)
                    </td>
                    <td>
                        <ul>
                            <li>@Html.DisplayFor(modelItem => item.TenKhachHang)</li>
                            <li>@Html.DisplayFor(modelItem => item.Email)</li>
                            <li>@Html.DisplayFor(modelItem => item.SoDienThoai)</li>
                        </ul>
                    </td>
                    <td>
                        <select id="TinhTrang_@item.Id_DHVC" onchange="changeState('@item.Id_DHVC')" asp-for="@item.TinhTrang" asp-items="ViewBag.TrangThaiVanChuyen" class="form-select form-select-sm me-3 transparent-input" aria-label=".form-select-sm">
                        </select>

                        <script type="text/javascript">
                            function changeState(dhvc) {
                                var selectElement = document.getElementById("TinhTrang_" + dhvc);
                                if (selectElement) {
                                    var value = selectElement.value; // Lấy giá trị của tùy chọn được chọn
                                    console.log("DHVC: " + dhvc);
                                    console.log("Giá trị: " + value);

                                    $.ajax({
                                        url: '/Administrator/ChangeStatus',
                                        type: "POST",
                                        data: {
                                            dhvc: dhvc,
                                            value: value
                                        },
                                        success: function (result) {
                                            if (result.success) {
                                                alert('Thành công');
                                                location.reload();
                                            } else {
                                                alert(result.error);
                                            }
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            console.error("AJAX error:", textStatus, errorThrown);
                                        }
                                    });
                                } else {
                                    console.error("Cannot find the select element with the given ID: TinhTrang_" + dhvc);
                                }
                            }

                        </script>

                    </td>
                            @*                     <td>
                <a asp-action="Edit" asp-route-id="@item.Id_DHVC">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_DHVC">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_DHVC">Delete</a>
                </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

